<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>상품 조회</h2> </div>
    상품명: <span th:text="${item.itemName}">상품명</span><br/>
    본문: <span th:text="${item.itemContent}">본문</span><br/>
    카테고리: <span th:text="${item.itemCategory}">카테고리</span><br/>
    가격: <span th:text="${item.itemPrice}">가격</span><br/>
    <img th:each="imageFile : ${item.imagesFiles}" th:src="|/images/${imageFile.getStoreFileName()}|" width="300" height="300"/>
</div> <!-- /container -->
</body>
</html>